@model KidProfile

<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.KidName @Model.KidId  @Model.AccumultedPoint profile and all associate inforation?
</div>

<form asp-action="Delete" asp-route-id="@Model.KidId" method="post">
    <input type="hidden" asp-for="@Model.KidName" />
    <input type="hidden" asp-for="@Model.KidId" />
    <button type="submit" class="btn btn-danger" asp-route-id="@Model.KidId"> Yes!</button>
    <a asp-controller="KidProfile" asp-action="List">Cancel</a>
</form>