@model Kid

    <div class="custom-page-container d-flex justify-content-center">
        <div class="confirm-form">
            <h1 class="color-orange">Delete</h1>
            <div class="alert alert-orange">
                Are you sure you want to delete @Model.Name @Model.KidId  @Model.TotalPoint profile and all associate inforation?
            </div>

            <form asp-action="Delete" asp-route-KidId="@Model.KidId" method="post">
                <input type="hidden" asp-for="@Model.Name" />
                <input type="hidden" asp-for="@Model.KidId" />
                <input type="hidden" asp-for="@Model.ApplicationUserId" />
                <button type="submit" class="btn btn-is-orange" asp-route-KidId="@Model.KidId"> Yes!</button>
                <a asp-controller="KidProfile" asp-action="List" class="btn btn-is-green">Cancel</a>
            </form>
        </div>
    </div>
