@model KidProfileViewModel
<!--Extract user name from email before at sign-->
@{
    int index = Model.userName.IndexOf("@");
    string username = Model.userName.Substring(0, Model.userName.Length - index - 1);
}
    <div class="custom-page-container">
        <div class="profile-overview">
            <h3>Welcome <span class="color-green">@username</span></h3>
            <hr class="bg-light"/>
            <h4>Profile Overview</h4>
            <p>Kid profiles: @Model.KidCount </p>
        </div>
        <div class="kids-card-section">
            <h1>Kid List</h1>
            <a asp-controller="Kid" asp-action="Create" class="btn btn-is-green">Add a new Kid</a>
            <hr class="my-4 bg-light" />
            <div id="kid-card-container">
                    @foreach (var kid in Model.Profiles)
                    {
                            var photoPath = "~/Images/" + (kid.PhotoPath ?? "defaultProfileImage.jpg");
                            <div class="card bg-transparent text-white border-light">
                                <div class="card-body">
                                    <figure>
                                        <img src="@photoPath" asp-append-version="true"/>
                                    </figure>
                                    <h3 class="card-title">@kid.Name</h3>
                                    <p class="card-text">Accumulated point: @kid.TotalPoint</p>
                                    <a class="btn btn-outline-info"
                                       asp-controller="Kid"
                                       asp-action="Details"
                                       asp-route-KidId="@kid.KidId">Details</a>
                                    <a class="btn btn-is-orange"
                                       asp-controller="Kid"
                                       asp-action="Delete"
                                       asp-route-id="@kid.KidId">Delete</a>
                                </div>
                            </div>
                    }
            </div>
        </div>
    </div>



