@model KidProfileViewModel
<h1>Welcome @Model.userName!</h1>
<div class="jumbotron jumbotron-fluid bg-dark border-light text-light p-5 rounded">
    <h1 class="display-4 mt-0"><strong>OverView</strong></h1>
    <p>Kid profiles: @Model.KidCount </p>
    <hr class="my-4 bg-light" />
    <a asp-controller="Kid" asp-action="Create" class="btn btn-outline-primary">Add new Kid</a>
</div>
<div class="border bg-dark text-light border-light p-5 rounded">
    <h1>List of kids</h1>
    <hr class="my-4 bg-light" />
    <div class="container">
        <div class="row">
            @foreach (var kid in Model.Profiles)
            {
                <div class="col-md-3 col-lg-4 py-2">
                    <div class="card bg-transparent text-white border-light">
                        <div class="card-body">
                            <img class="card-img" src="~/images/elf-hunter.jpg" />
                            <h3 class="card-title">@kid.Name</h3>
                            <p class="card-text">Accumulated point: @kid.TotalPoint</p>
                            <a class="btn btn-outline-info"
                               asp-controller="Kid"
                               asp-action="Details"
                               asp-route-KidId="@kid.KidId">Details</a>
                            <a class="btn btn-outline-danger"
                               asp-controller="Kid"
                               asp-action="Delete"
                               asp-route-id="@kid.KidId">Delete</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>




