@model VTask

<h2> Creating VTask</h2>
<h1> Kid Id: @Model.KidId</h1>
<form method="post">
    <input type="hidden" asp-for="@Model.KidId" class="form-control" />
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Point"></label>
        <input asp-for="@Model.Point" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.VType"></label>
        <select class="form-control" asp-for="@Model.VType"
                asp-items="Html.GetEnumSelectList<VType>()">
        </select>
    </div>
    <button type="submit" class="btn btn-primary"
            asp-controller="VTask"
            asp-action="Create">
        Create
    </button>
</form>