@model VTaskListViewModel
<h1>VTask List</h1>

@if (@Model.VTasks.Count()!=0 )
{
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Point</th>
            <th>Done</th>
            <th>Kid Id</th>
        </tr>

        @foreach (var vTask in Model.VTasks)
        {
            /*
            <tr>
                <td>@vTask.Description</td>
                <td>@vTask.Point</td>
                <td>@vTask.Done</td>
                <td>@vTask.KidId</td>
                <td>
                    <a class="btn btn-lg"
                       asp-controller="VTask"
                       asp-action="Details"
                       asp-route-id="@vTask.VTaskId">
                        <i class="fa fa-question"></i>
                    </a>
                    <a class="btn btn-lg"
                       asp-controller="VTask"
                       asp-action="Edit"
                       asp-route-id="@vTask.VTaskId">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-lg"
                       asp-controller="VTask"
                       asp-action="Delete"
                       asp-route-id="@vTask.VTaskId">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a class="btn btn-lg"
                       asp-controller="VTask"
                       asp-action="ChangeStatus"
                       asp-route-id="@vTask.VTaskId">
                        <i class="fas fa-check-square"></i>
                    </a>
                </td>
            </tr>
            */
            <partial name="_VTaskPartial" model="vTask" />
        }
    </table>
}
else
{
    <p>Please add Tasks to the list</p>
    <h1>@Model.KidId</h1>
}
    <a asp-controller="VTask"
       asp-action="Create"
        asp-route-KidId="@Model.KidId"
       class="btn btn-primary">Add New</a>


