@model Reward
<div class="reward-card">
    <figure>
        <img src="~/images/elf-hunter.jpg" alt="" />
    </figure>
    <div class="caption">
        <h2 class="pull-right">@Model.RewardName</h2>
        <h3 class="pull-right">Point cost: @Model.Point</h3>
        <div class="btn-group mt-2 mb-2">
            <a asp-controller="Reward" asp-action="Redeem" asp-route-id="@Model.RewardId" class="btn btn-outline-primary">Redeem</a>
            <a asp-controller="Reward" asp-action="Details" asp-route-id="@Model.RewardId" class="btn btn-outline-info">Details</a>
            <a asp-controller="Reward" asp-action="Edit" asp-route-id="@Model.RewardId" class="btn btn-outline-warning">Edit</a>
            <a asp-controller="Reward" asp-action="Delete" asp-route-id="@Model.RewardId" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
</div>