@model Reward
    <div class="custom-page-container d-flex flex-row justify-content-center">
        <div class="confirm-form d-flex flex-column justify-content-center">
            <h1 class="color-orange">Delete reward</h1>
            <div class="alert alert-orange">
                Are you sure you want to delete this reward: @Model.Description?
            </div>
            <form method="post">
                <input type="hidden" asp-for="@Model.RewardId" class="form-control" />
                <input type="hidden" asp-for="@Model.RewardName" class="form-control" />
                <input type="hidden" asp-for="@Model.Description" class="form-control" />
                <input type="hidden" asp-for="@Model.Point" class="form-control" />
                <input type="hidden" asp-for="@Model.KidId" class="form-control" />
                <button type="submit" class="btn btn-is-orange"> Yes!</button>
                <a asp-controller="Kid" asp-action="Details" asp-route-KidId="@Model.KidId" class="btn btn-is-green">Cancel</a>
            </form>
        </div>
    </div>
