@model Reward

<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to change the status of the following task: @Model.Description?
</div>

<form method="post">
    <input type="hidden" asp-for="@Model.RewardId" />
    <input type="hidden" asp-for="@Model.Description" class="form-control" />
    <input type="hidden" asp-for="@Model.Point" class="form-control" />
    <input type="hidden" asp-for="@Model.Acquired" class="form-control" />
    <input type="hidden" asp-for="@Model.KidId" class="form-control" />
    <button type="submit" class="btn btn-danger"> Yes!</button>
    <a asp-controller="Kid" asp-action="Details" asp-route-KidId="@Model.KidId">Cancel</a>
</form>